body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.container {
    width: 400px;
    margin: 80px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px #ccc;
    border-radius: 8px;
}

h2 {
    text-align: center;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    border: none;
}

a {
    text-decoration: none;
    color: blue;
}

.nav {
    background: #333;
    padding: 10px;
    text-align: center;
}

.nav a {
    color: white;
    margin: 0 15px;
}
